# Compiled class files
*.class

# Build directories
/build/
/bin/
/target/

# Log files
*.log

# Package files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Tomcat directory
/apache-tomcat/

# IDE-specific files
.idea/
.settings/
.classpath
.project
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Allow specific JAR files that are required for the project
!jstl-1.2.jar
!servlet-api.jar
!mysql-connector-java-8.0.28.jar 